
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <p>Yorumunuz Gönderildi... </p>
    <a href="/Blog/BlogReadAll/@ViewBag.id" class="btn btn-primary read-m">Yorumu Görmek İçin Sayfayı Yenile</a>
</div>

