@model EntityLayer.Concrete.NewsLetter
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/CoreBlogTema/images/konfetirenklikagit.png" />

    <div class="card-body">
        <h5 class="card-title">@Model.Mail</h5>
        <p class="card-text">Mail Bültenine Üye Oldunuz</p>
        <a href="/Blog/Index" class="btn btn-primary">Ana Sayfaya Dön</a>
    </div>
</div>
